.btn-disabled {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*!*border: 1px #488f67;*!*/
    /*color: #ffffff;*/
    /*height: 100px;*/
    /*width: 2500px;*/
}
.btn-enabled {

    align-items: center;
    color: white;
    padding: 12px 24px;
    background-color: #125f6e;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    display: flex;
    /*justify-content: center;*/
    /*text-align: center;*/
    /*!*border: 1px #491b8f;*!*/
    /*height: 50px;*/
    /*width: 100px;*/
    /*border-radius: 10px;*/
}
.btn:focus {
    color: #323364;
}
.btn:hover {
    background-color: #0056b3;
    box-shadow: 10px 6px 12px rgba(0, 0, 10, 0.5);
}
